<div id="content-page" class="content-page">
    <div class="container-fluid">
        @include('flash::message')
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">My Orders</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="table-editable">
                            <div class="d-block float-left mb-3 mr-2">
                                <div class="btn-group btn-group-md" role="group" aria-label="Basic example">
                                    <button type="button" onclick="window.location.href='/orders/create'" class="btn btn-primary">
                                        <i class="ri-image-add-line"></i>
                                        <i class="ri-image-add-fill"></i>
                                        <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                        New
                                    </button>
                                    <button type="button" class="btn btn-primary">
                                        <i class="ri-file-excel-2-line"></i>Export
                                    </button>
                                </div>
                            </div>

                        
                            @include('myOrders.table')

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>