<p>update works!</p>
<h1>Its works</h1>
<app-loader></app-loader>

<!-- Wrapper [START] -->
<div class="wrapper">
    <app-side-bar1></app-side-bar1>
    <app-nav-bar1></app-nav-bar1>
    <!--Content [START]-->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <app-iq-card>
                        <div card-header class="iq-header-title">
                            <h4 class="card-title">Create a new typeupload</h4>
                        </div>
                        <form [formGroup]="form" class="form mt-4" (submit)="submit()">
                            <div class="row" style="margin-bottom: 10px">
                                <div class="col">
                                    <input type="text" formControlName="name" [(ngModel)]="typeupload.name" class="form-control" placeholder="Full name">
                                </div>
                                <div class="col">
                                    <input type="description" formControlName="description" [(ngModel)]="typeupload.description" class="form-control" placeholder="Description">
                                </div>
                            
                                <div class="col">
                                    <input type="number" formControlName="min_upload" [(ngModel)]="typeupload.min_upload" class="form-control" placeholder="min_upload">
                                </div>
                            </div>
                            <br>
                            <button class="btn btn-primary">Submit</button>
                            <button class="btn ml-1 iq-bg-danger">cancel</button>
                        </form>
                    </app-iq-card>
                </div>
            </div>
            <!-- <router-outlet></router-outlet> -->
        </div>
    </div>
    <!-- Content [END] -->
</div>
<!-- Wrapper [END] -->

