<div class="row row-eq-height">
  <!-- Content Top Banner Start -->
  <div class="col-md-12 col-lg-8">
    <app-iq-card cardClass="iq-card bg-primary sb-top-banner-card" cardBodyClass="iq-card-body pt-5 pb-5" [isCardHeader]=false>
      <div class="row">
        <div class="col-md-6 align-self-center">
          <h2 class="text-white">Congratulations {{ user.name }}</h2>
          <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. remaining essentially unchanged.</p>
          <button type="button" class="btn iq-bg-primary">Read More</button>
        </div>
        <div class="col-md-6 position-relative">
          <div class="an-img-two">
            <div class="bodymovin">
              <ng-lottie [options]="optionsData"></ng-lottie>
            </div>
          </div>
        </div>
      </div>
    </app-iq-card>
  </div>
  <div class="col-md-12 col-lg-4">
    
  </div>
  
</div>
